In [1]:
if (!require("pacman")) install.packages("pacman")
pkgs = c('tidyverse', 'readxl', 'openxlsx', 'stringr', 'xlsx')
pacman::p_load(pkgs, character.only=TRUE)

Loading required package: pacman

## เกริ่นนำ
มีหลาย package ที่ ในที่นี้ขอพูดถึง 3 packages คือ `xlsx` `readxl` และ `openxlsx`
โดยแต่ละ package มีข้อดี ที่แตกต่างกันออกไป สรุปได้ตามตารางข้างล่าง

| ข้อดี | xlsx | readxl | openxlxs |
|-------|------|--------|--------|
| สามารถอ่านไฟล์ภาษาไทย      | ✔ | ❌ | ❌ |
| สามารถอ่านไฟล์ xlsx และ xls| ✔ | ✔ | ❌ |
| สามารบันทึกไฟล์ excel      | ✔ | ❌ | ✔ |
| ไม่ต้อง install java      | ❌ | ✔ | ✔ |

In [8]:
# สร้าง path
path_xls = 'data/test.xls'
path_xlsx = 'data/test.xlsx'
path_th = 'data/ทดสอบ.xlsx'

## readxl

In [13]:
readxl::read_excel(path_xls)

  date       product price quantity
1 2562-04-01 ทุเรียน 120   500
2 2562-04-01 มังคุด   50   300
3 2562-04-01 ลำไย     30   400
4 2562-05-01 ทุเรียน 130   600
5 2562-05-01 มังคุด   40   200
6 2562-05-01 ลำไย     20   500

In [11]:
readxl::read_excel(path_xlsx)

  date       product price quantity
1 2562-04-01 ทุเรียน 120   500
2 2562-04-01 มังคุด   50   300
3 2562-04-01 ลำไย     30   400
4 2562-05-01 ทุเรียน 130   600
5 2562-05-01 มังคุด   40   200
6 2562-05-01 ลำไย     20   500

In [19]:
# ไม่สามารถอ่านไฟล์ภาษาไทยได้
readxl::read_excel(path_th)

ERROR: Error: Evaluation error: zip file 'C:\Users\Natty\Documents\github\nabc\R\data\ทดสอบ.xlsx' cannot be opened.

In [14]:
args(readxl::read_excel)

function (path, sheet = NULL, range = NULL, col_names = TRUE,
    col_types = NULL, na = "", trim_ws = TRUE, skip = 0, n_max = Inf,
    guess_max = min(1000, n_max), progress = readxl_progress(),
    .name_repair = "unique")
NULL

## openxlsx

In [16]:
openxlsx::read.xlsx(path_xlsx)

  date   product price quantity
1 241883 ทุเรียน 120   500
2 241883 มังคุด   50   300
3 241883 ลำไย     30   400
4 241913 ทุเรียน 130   600
5 241913 มังคุด   40   200
6 241913 ลำไย     20   500

In [17]:
openxlsx::read.xlsx(path_xls)

ERROR: Error in read.xlsx.default(path_xls): openxlsx can not read .xls or .xlm files!

In [20]:
openxlsx::read.xlsx(path_th)

Warning message in unzip(xlsxFile, exdir = xmlDir):
"error 1 in extracting from zip file"

ERROR: Error in file(con, "r"): invalid 'description' argument

## xlsx

- install `xlsx` package พิมพ์คำสั่ง `install.packages('xlsx')`

- **install java** https://www.java.com/en/download/

- set path to java

**Function**  
`xlsx::read.xlsx2()`

**Argument ที่สำคัญ**
- `file` : (character) path ของ ไฟล์
- `sheetIndex` : (numeric) ลำดับของ sheet ที่ต้องการ เลือกอย่างใดอย่างหนึ่งระหว่าง Index หรือ Name
- `sheetName` : (character) ชื่อของ sheet ที่ต้องการ  (default = NULL)
- `header` : (logical) จะใช้แถวแรกเป็นชื่อตารางหรือไม่ (default = TRUE) 
- `startRow` : (numeric) แถวแรกที่ต้องการใช้ข้อมูล (default = 1 รวมชื่อตาราง)
- `endRow` : (numeric) แถวสุดท้ายที่ต้องการใช้ข้อมูล (default = NULL หมายความว่าดึงข้อมูลถึงแถวสุดท้าย)
- `colIndex` : (numeric vector) คอลัมน์ที่ต้องการใช้ข้อมูล เช่น 1:4
- `colClasses` : (character vector) บอกประเภทข้อมูลของแต่ละคอลัมน์ "character" "numeric" "Date" โดยขนาดของ vector ต้องเท่ากับขนาดของ column โดยการบอกประเภทของข้อมูลจะช่วยเพิ่มความเร็วในการโหลดข้อมูล

In [80]:
xlsx::read.xlsx2(
  path_th, 1,
  colClasses = c('Date', 'character', rep('numeric', 2))
)

  date       product price quantity
1 2562-04-01 ทุเรียน 120   500
2 2562-04-01 มังคุด   50   300
3 2562-04-01 ลำไย     30   400
4 2562-05-01 ทุเรียน 130   600
5 2562-05-01 มังคุด   40   200
6 2562-05-01 ลำไย     20   500

### การอ่านไฟล์ทุกชีท

In [89]:
wb = loadWorkbook(path_th)
sheets = getSheets(wb) %>% names()
sheets = set_names(sheets, sheets)
sheets

[1] "long"  "wide1" "wide2"

In [95]:
sheets %>% 
  map(~ xlsx::read.xlsx2(path_th, .x))

$long
    date product price quantity
1 241883 ทุเรียน   120      500
2 241883  มังคุด    50      300
3 241883    ลำไย    30      400
4 241913 ทุเรียน   130      600
5 241913  มังคุด    40      200
6 241913    ลำไย    20      500

$wide1
    date ทุเรียน_ราคา ทุเรียน_ปริมาณ มังคุด_ราคา มังคุด_ปริมาณ ลำไย_ราคา
1 241883          120            500          50           300        30
2 241913          130            600          40           200        20
  ลำไย_ปริมาณ
1         400
2         500

$wide2
    date ทุเรียน     X. มังคุด   X..1 ลำไย   X..2
1           ราคา ปริมาณ   ราคา ปริมาณ ราคา ปริมาณ
2 241883     120    500     50    300   30    400
3 241913     130    600     40    200   20    500